<div class="py-6 px-3 bg-white rounded-lg shadow-md">
    <div class="flex justify-around">
      <h2 class="text-2xl font-bold mb-4">Lista de Direcciones</h2>
      <button (click)="createAddress()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold mb-4 p-4 rounded">
        <li class="fa fa-plus mx-3 font-bold"></li>Agregar Dirección
      </button>
    </div>

  
    <!-- Tabla de Direcciones -->
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr class="bg-gray-100">
          <th class="px-6 py-4 text-center">Calle</th>
          <th class="px-6 py-4 text-center">Ciudad</th>
          <th class="px-6 py-4 text-center">Estado</th>
          <th class="px-6 py-4 text-center">Código Postal</th>
          <th class="px-6 py-4 text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let address of addresses" class="hover:bg-gray-50">
          <td class="px-6 py-4 text-center">{{ address.street }}</td>
          <td class="px-6 py-4 text-center">{{ address.city }}</td>
          <td class="px-6 py-4 text-center">{{ address.state }}</td>
          <td class="px-6 py-4 text-center">{{ address.zipCode }}</td>
          <td class="px-6 py-4 text-center space-x-2">
            <button (click)="editAddress(address.id)" class="bg-yellow-600 rounded-md hover:underline mx-3">
              <li class="fa fa-pen text-white p-2"></li>
            </button>
            <button (click)="deleteAddress(address.id)" class="bg-red-600 rounded-md hover:underline mx-3">
              <li class="fa fa-trash text-white p-2"></li>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Mensaje si no hay direcciones -->
    <p *ngIf="addresses.length === 0" class="text-gray-600 mt-4">No hay direcciones registradas.</p>
  </div>
  